<a href="javascript:void(0)" class="button tiny" id="backButton_62" style="float: left;">Back</a><br/><br/><br/>
<h3>Review your request</h3>
<div id="review-drug-info">
	<p id="user-drug-preference"></p>
	<p id="user-drug-strength"></p>
	<p><span id="drug-quantity-per-month"></span> x per month</p>
	<p id="drug-shipped-type"></p>
	<% unless @total_price == "0" %>
		<p><a href="javascript:void(0)" class="button round" id="edit-drug-info-btn">edit</a></p>
	<% end %>
</div>
<% unless @total_price == "0" %>
	<div id="edit-drug-info" style="display: none;">
		<%= select_tag "payment[drug_name]", options_for_select(DRUG_PREFERENCE.keys, @drug_name)%>
		<div id="medication-strength">
			<%= select_tag "payment[drug_strength]", options_for_select( DRUG_PREFERENCE[@drug_name].keys, @drug_strength)%>
		</div>
		<%= select_tag "payment[per_month_quantity]", options_for_select( [["4 uses per month", 4], ["6 uses per month", 6], ["8 uses per month", 8], ["10 uses per month", 10]], @per_nonth_quntity)%>
		<%= select_tag "payment[shipped_type]", options_for_select( ["Shipped every 3 months", "Shipped every month"], @drug_shipped_type)%>
		<p><a href="javascript:void(0)" class="button round" id="done-drug-info-btn">DONE</a></p>
	</div>
<% end %>
<%= hidden_field_tag "payment[total_amount]"%>
<%= hidden_field_tag "payment[total_discount]"%>
<%= hidden_field_tag "payment[online_visit_charge]", 15%>
<%= hidden_field_tag "payment[final_amount]"%>
<%= hidden_field_tag "payment[is_selected_different_pharmacy]"%>
<% unless @different_pharmacy == "true"%>
	<h5>IF PRESCRIBED:</h5>
	<p>Medication cost (monthly): $<span id="total-amount"></span></p>
	<p>1st Shipment Beta Offer:  <span id="discount-amount"></span></p>
	<p>1st Shipment Total:  <span id="total-payable-amount"></span></p>
<% end %>
<h5>DUE TODAY:</h5>
<p>Online visit (Read refund policy):  <span>$15</span></p>
<h5>ADD PAYMENT DETAILS</h5>
<p><%= check_box_tag "agree_term_condition" %><span>I AGREE TO THE TERMS OF USE AND PRIVACY POLICY.</span></p>
<a href="javascript:void(0)" class="button round" id="payment-info-btn">PAY NOW</a>